<h1>Sessions#new</h1>
<p>Login</p>

<div class="row">

<%= form_for(:session, url: sessions_create_path) do |f| %>

   <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email %>
   </div>

   <div class="form-group">
      <%= f.label :password %>
      <%= f.text_field :password %>
   </div>

<%= f.submit "Ingresar", class: "btn btn-primary" %>

<% end %>

</div>
